.paper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.paperDensed {
    padding: 10px;
}

.paperCenter {
    display: flex;
    justify-content: center;
}