.topBar {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.topBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.topBarButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.topBarLogo {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: monospace, 'Courier New', Courier;
}